<div class="wrapper">
  <center>
    <h2>Inscris-toi !</h2>
  </center>

    <div class="container">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="error-msg"><%= devise_error_messages! %></div> 
        <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, :class => "form-control" %>
        </div>

        <div class="field form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autofocus: true, :class => "form-control" %>
        </div>

        <div class="field form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autofocus: true, :class => "form-control" %>
        </div>

        <div class="actions">
        <%= f.submit "S'inscrire", :class => "btn btn-primary" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div> <!-- fin container -->
</div>


