<!DOCTYPE html>
<html>
<head>
	<title>CART - PANIER</title>
</head>
<body>
	<div>
		lorem
	</div>

	<div class="jumbotron">
		<h2>
			Bonjour <%= @name_user %>,
		</h2>
		<br>Vous êtes l'ID N°<%= @id_user %>
	</div>


	Ton cart possède l'id <%= @cart.id %>
	<h2>VOS ITEMS :</h2>
	<% @cart.items.each do |item| %>
		<ul>
			<li> 
				<%= item.title %> -> <%= item.price %> 
				<a class="btn-danger" href="/carts/edit">DELETE</a>
			</li>
		</ul>
	<% end %>

</body>
</html>