<br><br>

<% if user_signed_in? %>
	<!-- <h1> Params : '<%= @to_pay_string %>'€ </h1>
	<h1> ParamsClass : '<%= @to_pay_string.class %>' </h1>
	<br><br>

	<h1> Params Converti: <%= @to_pay_float %>€ </h1>
	<h1> ParamsClass : <%= @to_pay_float.class %> </h1> -->

	<br><br>
	<h1>Bonjour <%= current_user.email %>, </h1>
	<h1>Vous devez payez <%= @to_pay_float %>€ </h1>

<% else %>
	<div class="alert alert-danger" role="alert" style="text-align: center;">
		<br>
		Connecte-toi pour passez une commande!
		<br>
	</div>
<% end %>
