<!DOCTYPE html>
<html>
<head>
	<title>CART - PANIER</title>
</head>
<body>
	
	<% if !user_signed_in? %>
		<br>
		<div class="alert alert-danger" role="alert">
			Connecter vous pour voir le panier!
		</div>
	<% else %>
		<div class="wrapper">
			<div class="info-cart">
				<span>Email :</span> <%= @name_user %><br>
				<span>ID:</span> <%= @id_user %><br>
				<span>Numéro du panier : <%= @cart_id %></span> 
			</div>
		<br>
		
		<div class="container">
			<table class="table">
				<thead>
					<tr>
					<th scope="col">#</th>
					<th scope="col">Article</th>
					<th scope="col">Prix</th>
					<th scope="col"> </th>
					</tr>
				</thead>
				<tbody>
					<% @cart.each_with_index do |item, i| %>
					<tr>
					<th scope="row"><%= i+1 %></th>
					<td><%= Item.find(item.item_id).title %></td>
					<td><%= Item.find(item.item_id).price %> </td>
					<td><a class="btn-suppr" href="/carts/edit/<%= item.item_id%>" >Supprimer</a></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>

	<% end %>

</body>
</html>

