<div class="wrapper">
	<% if !user_signed_in? %>
		<br>
		<div class="alert alert-danger" role="alert" style="text-align: center;">
			<%= t('front.cart.error.not_signin') %>
		</div>
	<% else %>
		<div class="container">
			<h3><%= t('front.cart.basket') %></h3>
			<div class="info-cart">
				<span><%= t('front.cart.email') %></span> <%= @name_user %><br>
				<span><%= t('front.cart.id') %></span> <%= @id_user %><br>
				<span><%= t('front.cart.basket_number') %><%= @cart_id %></span>
			</div>

		<div class="container">
			<table class="table">
				<thead>
					<tr>
					<th scope="col"></th>
					<th scope="col"><%= t('front.cart.article') %></th>
					<th scope="col"><%= t('front.cart.price') %></th>
					<th scope="col"> </th>
					</tr>
				</thead>
				<tbody>
					<% @cart.each_with_index do |item, i| %>
					<tr>
					<th scope="row"><%= i+1 %></th>
					<td><%= Item.find(item.item_id).title %></td>
					<td><%= Item.find(item.item_id).price %> </td>
					<td><%= link_to t('front.cart.delete'), cart_edit_url(i + 1, item.item_id), class: 'btn-suppr' %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>

	<% end %>

	<h2 class="total"><b><%= t('front.cart.total') %></b> <%= @prix_total_panier_float %> € </h2>
	<td><%= link_to t('front.cart.buy'), cart_payment_path(@cart_id, @prix_total_panier_string), class: 'btn btn-success' %></td>

</body>

</html>
