<nav class="navbar navbar-expand-lg navbar-dark bg-white fixed-top">
  <div class="container">
    <a href=<%= root_path %> ><img class="logo" src="/cat-logo.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
  <!-- Affichage des liens divers -->
      <li class="nav-item active">
        <a class="link-navbar" href=<%= root_path %> >Accueil
        <span class="sr-only">(current)</span>
        </a>
      </li>
  <!-- Affichage des boutons Log in/Log out etc... -->
    <% if user_signed_in? %> <!-- Connecté -->
      <li class="nav-item">
        <a class="link-navbar" href="/profil">Mon Profil</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-warning nav-link" href=<%= edit_user_registration_path %> >Edit</a>
        <%= link_to "Se déconnecter", destroy_user_session_path , method: :delete, class: "btn btn-danger nav-link" %>
      </li>
      <li class="nav-item">
        <a href="/carts/show"><img class="basket-icon" src="/basket-icon.png"></a>
      </li>
    <% else %> <!-- Pas connecté --> 
      <li class="nav-item">
        <a class="btn btn-info nav-link" href=<%= new_user_session_path %> >Se connecter</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-success nav-link" href=<%= new_user_registration_path %> >S'inscrire</a>
      </li>
  <% end %>
    </ul>
  </div> <!-- fin collapse --> 
  </div> <!-- fin container -->
</nav>
